body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}
canvas {
    border: 2px solid white;
}
#message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    z-index: 9999; /* Asegurarse de que el mensaje esté arriba */
}
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.control-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
